<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Lớp học</title>
</head>
<body>
<h2>Danh sách Lớp học</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên lớp học</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="clazz : ${classes}">
        <td th:text="${clazz.class_id}"></td>
        <td th:text="${clazz.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
