<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<head>
    <meta charset="UTF-8">
    <title>Thêm Sinh viên</title>
</head>
<body>

<h1>Thêm học viên</h1>

<form id="studentForm" th:action="@{/students/save}" th:object="${student}" method="post">
    <table>
        <tr>
            <th>Tên:</th>
            <td>
                <input type="text" th:field="*{name}"
                       placeholder="Ten học viên"
                       required minlength="3" maxlength="50"
                       pattern="^[A-Za-zÀ-ỹ\s]+$"
                       title="Tên thiểu 3 ký tự"/>
            </td>
        </tr>

        <tr>
            <th>Điểm thực hành</th>
            <td>
                <input type="number" step="0.1" th:field="*{practice}"
                       required min="0" max="10"
                       title="Điểm phải từ 0 đến 10"/>
            </td>
        </tr>

        <tr>
            <th>Điểm lý thuyết</th>
            <td>
                <input type="number" step="0.1" th:field="*{theory}"
                       required min="0" max="10"
                       title="Điểm phải từ 0 đến 10"/>
            </td>
        </tr>


        <tr>
            <th>CHi tiet</th>
            <td>
                <textarea th:field="*{description}" rows="3"
                          placeholder="Nhập mô tả chi tiết"
                          maxlength="300"
                          required
                          title="Mô tả tối đa 300 ký tự"></textarea>
            </td>
        </tr>

        <tr>
            <th>Đánh giá</th>
            <td>
                <input type="text" th:field="*{evaluate}"
                       required
                       maxlength="120"
                       placeholder="Giỏi, Khá, Trung bình"/>
            </td>
        </tr>

        <tr>
            <th>Lớp</th>
            <td>
                <select th:field="*{clazz}" required>
                    <option value="">-- Chọn lớp --</option>
                    <option th:each="cls : ${classes}"
                            th:value="${cls.class_id}"
                            th:text="${cls.name}">
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <div class="actions">
        <button type="submit" class="btn-save">Lưu</button>
        <button type="button" class="btn-cancel" onclick="window.location.href='/students'">Thoát</button>
    </div>
</form>

<script>
    document.getElementById("studentForm").addEventListener("submit", function (event) {
        if (!this.checkValidity()) {
            event.preventDefault();
            Swal.fire({
                icon: 'warning',
                title: 'Lỗi data',
                text: 'Vui lòng nhập thông tin trước khi lưu',
                timer: 4000,
                showConfirmButton: false,
                position: 'center-end'
            });
        }
    });
</script>

</body>
</html>
