<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<head>
    <meta charset="UTF-8">
    <title>Danh sách Học viên</title>

</head>
<body>
<div class="top-bar">
    <h1>Danh sách học viên</h1>
    <div class="buttons">
        <button onclick="window.location.href='/students'">Tải lại</button>
        <button onclick="window.location.href='/students/add'">Thêm học viên</button>
    </div>
</div>

<div class="search-form">
    <form th:action="@{/students/search}" method="get">
        <input type="text" name="keyword" placeholder="Nhập tên học viên" required>
        <button type="submit">Tìm kiếm</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Tên</th>
        <th>Chi tiết</th>
        <th>Đánh giá</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.student_id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.description}"></td>
        <td th:text="${student.evaluate}"></td>
        <td class="actions">
            <a th:href="@{|/students/detail/${student.student_id}|}">Xem</a>
            <a th:href="@{|/students/edit/${student.student_id}|}"> Sửa</a>
            <a href="javascript:void(0)"
               th:attr="data-url=@{|/students/delete/${student.student_id}|}"
               onclick="confirmDelete(this)">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function confirmDelete(element) {
        let url = element.getAttribute("data-url");

        Swal.fire({
            title: "Xóa học viên",
            text: "Xác nhận xóa?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#56a4ee",
            cancelButtonColor: "#981010",
            confirmButtonText: "Xóa",
            cancelButtonText: "Hủy"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>
</body>
</html>
